@import '../../../../../assets/styles/definitions';

::ng-deep .k-panelbar > .k-panelbar-header > .k-link.k-selected {
  background-color: $_white !important;
  color: inherit;
}

::ng-deep .k-panelbar > .k-panelbar-header > .k-link.k-selected:hover {
  background-color: $_white !important;
  color: inherit;
}

::ng-deep .k-panelbar .k-panelbar-content {
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

}

 ::ng-deep .k-panelbar-header > .k-link {
   color: inherit !important;
}

.header {
  width: 100%;
  background-color: #f6f6f6;
  box-sizing: border-box;
  font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight: 700;
  color: $_coal;
  text-align: left;
  line-height: normal;
  letter-spacing: 0.5px;
}

.cause-parent {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight: 700;
  color: #829191;
  text-align: left;
  line-height: normal;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
  font-size: 14px;
}

.cause-items {
  font-size: 14px;
  padding: 2px 2px 0px 0px;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  font-family: 'OpenSans-Regular', 'Open Sans', sans-serif;
  color: #829191;
  text-align: left;
  line-height: normal;
  cursor: pointer;
  margin-left: 0;
  width: 100%;
}

.line-item {
  border-bottom: 1px solid #eaeeee;
  margin: 0px;
  color: #829191;
  padding: 6px 0 6px 0;
}

.title {
  font-size: 12px;
  padding: 8px 2px 8px 16px;
  text-transform: uppercase;
}

.selected {
  padding: 8px 4px 8px 16px;
  border-bottom: 1px solid #eaeeee;
  background-color: #d7dcdc;
  box-sizing: border-box;
  font-style: italic;
  color: #333333;
  font-size: 14px;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.check-mark {
  height: 12px;
  float: right;
}
.panelbar-wrapper {
  padding: 8px 2px 8px 16px;
  margin: 0 auto;
}

.k-widget {
  font-size: 14px !important;
  color: $_stone;
  font-weight: lighter;
}

::ng-deep .k-icon::before {
  color: $_olive !important;
}

::ng-deep .k-link,
.k-link:hover {
  display: block;
}
