<div class="workflow-container container-fluid">
  <div class="new-pcr-detail">
    <main class="detail">
      <div class="detail-content">
        <div class="new-pcr-header">
          <div class="pcr-header">
            <div class="new-pcr-title-container">
              <div class="pcr-title">
                <span>
                  PCR for Service Request {{ serviceRequestNumber }} was
                  submitted successfully
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
