<kendo-listview [data]="levelInfo" *ngIf="levelInfo && levelInfo.length">
  <ng-template kendoListViewHeaderTemplate>
    <div class="header"><div class="title">Area of Machine</div></div>
  </ng-template>
  <ng-template
    kendoListViewItemTemplate
    let-dataItem="dataItem"
    let-index="index"
  >
    <div class="product-view k-widget">
      <dl class="line-item">
        <dd
          (click)="onClick(dataItem)"
          [ngClass]="{
            'location-items': !dataItem.isAreaPathAlreadySelected,
            'location-items-disable': dataItem.isAreaPathAlreadySelected
          }"
        >
          {{ dataItem.partUiPathName }}
        </dd>
      </dl>
    </div>
  </ng-template>
</kendo-listview>
