<div class="error-page-container">
    <div class="error-page-content-container">
      <div class="return">
        <a (click)="goBack()">
          <span>Go Back</span>
          <app-icon class="return-icon" iconName="return"></app-icon>
        </a>
      </div>
  
      <h1>We are unable to locate the requested page.</h1>
      <p><b>Error 404:</b><br />Here are some helpful links instead.</p>
      <ul>
        <li>
          <a
            href="https://vixxo.formstack.com/forms/vixxolink_support"
            target="_blank"
            >Request Support</a
          >
        </li>
      </ul>
    </div>
  </div>