<div class="error-page-container">
    <div class="error-page-content-container">
      <div class="return">
        <a (click)="goBack()">
          <span>Go Back</span>
          <app-icon class="return-icon" iconName="return"></app-icon>
        </a>
      </div>
  
      <h2>An unexpected error has occurred.</h2>
      <p>
        <b>Error 500:</b><br />There seems to be an internal server error. Please
        contact your system administrator.
      </p>
    </div>
  </div>
  