<div [ngClass]="{ uploadError: !fileUpload.valid }">
  <kendo-upload
    required
    name="fileUpload"
    #fileUpload="kendoUpload"
    [autoUpload]="false"
    [multiple]="false"
    [saveUrl]="uploadSaveUrl"
    (select)="selectEventHandler($event)"
    [ngStyle]="positionButtons()"
  >
    <kendo-upload-messages
      select="Add Photos"
      dropFilesHere=""
    ></kendo-upload-messages>
    <ng-template
      kendoUploadFileTemplate
      let-files
      let-state="state"
      *ngIf="pendingUpload"
    >
      <div #uploadingFile class="uploading-file" *ngIf="uploadingAttachment">
        <div class="loader"><app-loader size="20"></app-loader></div>
        <div class="file-icon">
          <app-icon class="file" [iconName]="'file'"></app-icon>
          <div class="extension">
            {{ formatExtension(files[0].extension, files[0].uid) }}
          </div>
        </div>
        <div class="metadata">
          <div class="filename">{{ filename }}</div>
          <div class="filesize">{{ formatBytes(files[0].size) }}</div>
        </div>
      </div>
    </ng-template>
  </kendo-upload>
</div>
