div#pendo-resource-center-container {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin: -215px 0 0 -175px;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}
